*{
    margin: 0;
    padding: 0;
}
body{background:#DDE1ED;}
.header_content_left{    margin-left: 40px;}
#container{
    display: flex;
    flex-direction: column;
    height: 100vh;

}
.header{
    background-color: #3b5998;
    background-image: linear-gradient(#5b74ab, #3b5998 50%);
    height: 62px;
    box-shadow: 0px 11px 4px 0px rgba(94, 117, 160, 0.08);

}
.header_content{
    background-color: #3b5998;
    background-image: linear-gradient(#5b74ab, #3b5998 50%);
    font-family: Helvetica, Arial, sans-serif;
    height: 60px;

    margin: 0 auto;
    /*  padding-top: 13px;*/
    width: 1300px;
    display: flex;
    justify-content: space-between;
}
.header_content_right{
    display:flex;
    width: 300px;

}
.header_content_right_Text {
    color: white;
    font-size: 20px;

    width: 80px;
    margin-top: 13px;
    margin-bottom: 13px;
    padding-top: 5px;
    border-right: 2px double rgba(19, 12, 123, 0.2);

}
#faf{
    margin-left: -26px;
    margin-top: 6px;
}
.button{
    width: 36px;
    height: 36px;
    margin-top: 11px;
    margin-left: 29px;
    border-radius: 50%;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.47),inset 0 -3px 0 rgba(0,0,0,0.23);
}
.button:after{

    content: "\f00c";
    font-family: FontAwesome;
    color: #09366e;
    margin-left: 10px;
    padding-top: 10px;
    display: block;

}
.header_content_right .image{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-top: 13px;
    margin-left: 34px;
}
.form_text{

    width: 380px;
    border-radius: 10px;
    margin-left: 20px;
    outline: none;
    font-size: 20px;
}

.head_forma1{
    margin-top: 16px;


}
.fa{
    color: white;

}
.fa-circle{
    color: #14ff16;
    margin-left: 30px;


}
.head_forma1 .fa-circle{
    font-size: 10px;


}

.content{
    width: 1300px;
    display: flex;
    margin: auto;
    height: 100vh;
    display: flex;
    background:#DDE1ED;
}
.content_left{
    width: 70%;

    display: flex;
    flex-direction: column;
}
.content_left_first{

    height: 75px;width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    background: white;
    position: relative;
}
.fa-bars{
    position: absolute;
    color: black;
    margin-left: 203px;
    margin-top: 29px;
    display: block;
}
.fa-picture-o{
    position: absolute;
    color: black;
    margin-left: 383px;
    margin-top: 29px;
    display: block;
}
.fa-music{
    position: absolute;
    color: black;
    margin-left: 563px;
    margin-top: 29px;
    display: block;
}
.fa-link{
    position: absolute;
    color: black;
    margin-left: 751px;
    margin-top: 30px;
    display: block;
}
.content_left_first_left{
    width: 20%;height: 100%;
    background:#DDE1ED;
}
.content_left_first_left:before{
    content: "\f067";
    font-family: FontAwesome;
    margin-left: 70px;
    padding-top: 16px;
    display: block;font-size: 37px;
    color: rgba(14, 29, 77, 0.19);
    text-shadow:rgba(14, 29, 77, 0.19)  0px 3px 3px;
}
.content_left_first_right{
    height: 100%;
    width: 80%;
    box-shadow: 0px 0px 2px 3px rgba(14, 29, 77, 0.19);
}
.content_left_first_right:before{
    content: '';
    width: 0px;
    height: 0px;
    border: 13px solid transparent;
    border-right-color: white;
    position: absolute;
    left: 156px;
    top: 25px;
}

.f{

    height: 100%;
    display: flex;
}

.status,.photo,.sound,.link{width: 25%;

    background-color: white;
    border: none;
    height: 75%;
    margin-top: 9px;
}
.status:hover,.photo:hover,.sound:hover,.link:hover{
    background: #DDE1ED;
}
.status,.photo,.sound{
    border-right: 2px solid rgba(110,135,111,0.22);
}
.content_right{
    width: 30%;
}
.content_left_second{

    height: 200px;width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    background: white;
    position: relative;
}

.content_left_second_left{
    width: 20%;height: 100%;
    background:#DDE1ED;
}
.content_left_second_right{
    height: 100%;
    width: 80%;
    box-shadow: 0px 0px 2px 3px rgba(14, 29, 77, 0.19);
}
.content_left_second_right_1_1{
    width: 90%;
    height: 143px;
    margin: 5px auto ;
    border-bottom:2px solid rgba(110,135,111,0.22);
}
span{
    font-weight: bold;
}
.content_left_second_right_1_2{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.form{    margin-top: -10px;
    width: 67%;}
.image2{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: block;float: left;
    margin-top: -3px;
}
.aa{
    display: flex;
    width: 25%;
}
.t1, .t2,.t3{
    width: 35%;
}
.aa{width: 30%;}

.t1, .t2{
    border-right:2px solid rgba(110,135,111,0.22);
}
.t1:after{
    content: "\f164";
    font-family: FontAwesome;
    display: block;
    margin-left: 24px;
    margin-top: 10px;
}
.t2:after{
    content: "\f064";
    font-family: FontAwesome;
    display: block;
    margin-left: 24px;
    margin-top: 10px;
}
.t3:after{
    content: "\f0ac";
    font-family: FontAwesome;
    color: darkgrey;
    display: block;
    margin-left: 24px;
    margin-top: 10px;
}
.t3:hover{
    background:#DDE1ED;
}
.t1:hover{
    background:#DDE1ED;
}
.t2:hover{
    background:#DDE1ED;
}
.fa-pencil{
    content: "\f040";
    float: left;
    display: block;
    margin-left: 376px;
    position: absolute;
    margin-top: 4px;
    color: darkgrey;
}
.content_left_second_right:before{

    content: '';
    width: 0px;
    height: 0px;
    border: 13px solid transparent;
    border-right-color: white;
    position: absolute;
    left: 156px;
    top: 25px;

}
.content_left_second{position: relative;}
.content_left_second_1{
    text-align: center;
}
.image3{
    border-radius: 35px;
}
figcaption{
    font-size: 13px;
}
.sp1{
    color: darkgrey;
    font-size: 15px;
    display: block;
    margin-top: 8px;
}
.content_left_second_3:before{
    content: "\f164";
    font-family: FontAwesome;
    display: block; float: left;margin-left: 73px;
    padding-right: 8px;
}
#con:after{
    content: "\f01d";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    right:142px;
    top:55px;
    font-size: 41px;
    color: white;

}
.content_left_second_3{
    text-align: left;
    padding-top: 10px;

}
.content_left_3{

    height: 270px;width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    background: white;
    position: relative;

}
.content_left_3_1{
    width: 20%;
    height: 100%;
    background: #DDE1ED;
}
.content_right_3_2{
    height: 100%;
    width: 80%;
    box-shadow: 0px 0px 2px 3px rgba(14, 29, 77, 0.19)
}
.content_right_3_2:before{
    content: '';
    width: 0px;
    height: 0px;
    border: 13px solid transparent;
    border-right-color: white;
    position: absolute;
    left: 156px;
    top: 25px;
}
.content_right_3_2_1{
    width: 90%;
    height: 198px;
    margin: 5px auto;
    border-bottom: 2px solid rgba(110,135,111,0.22);
    padding-top: 8px;
}
.image3_1,.image3_2{

    float: left;
}
.image3_3{
    float: right;
}
.image3_1{
    border-right:2px solid rgba(110,135,111,0.22);
    padding-right: 31px;
}
.image3_2{
    border-right:2px solid rgba(110,135,111,0.22);
    padding-right: 31px;
    padding-left: 30px;
}
#image3_1,#image3_3{
    box-shadow: 0px 0px 2px 3px rgba(14, 29, 77, 0.19);
}
#image3_2 {box-shadow: 0px 0px 2px 3px rgba(14, 29, 77, 0.19);}
.content_right_3_2_2_2 {

    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.t3_2:after{
    content: "\f0c0";
    font-family: FontAwesome;
    color: darkgrey;
    display: block;
    margin-left: 24px;
    margin-top: 10px;
}
.t2:hover{
    background:#DDE1ED;
}
#conleft{
    float: left;
}
.image5{
    float: right;
    box-shadow: 0px 0px 2px 3px rgba(14, 29, 77, 0.19);
}
#conleft{
    margin-left: 34px;
    height: 136px;
    margin-top: 12px;
}
.image5:after{
    content: "\f164";
    font-family: FontAwesome;
}
.right{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.right_1{
    height: 41vh;

display: flex;flex-direction: column;
    justify-content: space-between;
}
.right_1_1{
    margin-top: 20px;
}

.right_1_4,.right_1_1,.right_1_2,.right_1_3{
    height: 100vh;
    margin-bottom: 18px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    box-shadow: 0px 0px 2px 3px rgba(14, 29, 77, 0.19);
}

.right_2{
    height: 50vh;
}
.Photo{
    border-radius: 30px;
    float: left;
    margin-top: 8px;
    margin-left: 17px;
}
.right11{
    margin-top: 20px;
    padding-left: 16px;
    overflow: hidden;
}
.right_2_2{
    border-top: 2px solid rgba(110,135,111,0.22);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 93%;
    display: flex;
    flex-direction: column;
    margin-top: 44px;
}
.right_22{
background: white;

}
.right_22_1{
    float: left;
    margin-top: 5px;
    margin-left: 12px;
}
.right_22_2{
    margin-top: 10px;
    overflow: hidden;
    padding-left: 13px
}
.right_22_3{
    margin-top: 10px;
    overflow: hidden;
    padding-left: 13px
}
.image333{
    border-radius: 15px;
}
#right_22{
    margin-top: 47px;
}
.right_22:after{
    content: "\f111";
    font-family: FontAwesome;
    display: block;
    margin-left: 268px;
    margin-top: -15px;
    color: #14ff16;
    font-size: 10px;
}.right_222{
     background: white;

 }
 .right_222:after{
     content: "back in 45 minutes";
     display: block;
     color: darkgray;
     margin-left: 157px;
     margin-top: -18px;

 }
 .right_223{
     background: white;
 }
.right_223:after{
    content: "\f111";
    font-family: FontAwesome;
    display: block;
    margin-left: 268px;
    margin-top: -15px;
    color: #f5ab39;
    font-size: 10px;
}
.right_224{
    background: white;
}
.right_224:after{
    content: "\f111";
    font-family: FontAwesome;
    display: block;
    margin-left: 268px;
    margin-top: -15px;
    color: red;
    font-size: 10px;
}
.right_225{
    background: white;

}
.right_225:after{
    content: "on phone";
    display: block;
    color: darkgray;
    margin-left: 217px;
    margin-top: -18px;

}
.right{
    border-left: 2px solid rgba(110,135,111,0.22); ;
}