*{
    margin: 0;
    padding: 0;
}
body{background:#DDE1ED;}
.header_content_left{    margin-left: 40px;}
#container{
    display: flex;
    flex-direction: column;
    height: 100vh;

}
.header{
    background-color: #3b5998;
    background-image: linear-gradient(#5b74ab, #3b5998 50%);
    height: 62px;
    box-shadow: 0px 11px 4px 0px rgba(94, 117, 160, 0.08);

}
.header_content{
    background-color: #3b5998;
    background-image: linear-gradient(#5b74ab, #3b5998 50%);
    font-family: Helvetica, Arial, sans-serif;
    height: 60px;
    border: 1px solid #000;
    margin: 0 auto;
    /*  padding-top: 13px;*/
    width: 1300px;
    display: flex;
    justify-content: space-between;
}
.header_content_right{
    display:flex;
    width: 300px;

}
.header_content_right_Text{
    color: white;
    font-size: 20px;

    width: 80px;
    margin-top: 13px;
    margin-bottom: 13px;
    padding-top: 5px;
    border-right:2px double rgba(19,12,123,0.2) ;


}
.button{
    width: 36px;
    height: 36px;
    margin-top: 11px;
    margin-left: 29px;
    border-radius: 50%;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.47),inset 0 -3px 0 rgba(0,0,0,0.23);
}
.button:after{

    content: "\f00c";
    font-family: FontAwesome;
    color: #09366e;
    margin-left: 10px;
    padding-top: 10px;
    display: block;

}
.header_content_right .image{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-top: 13px;
    margin-left: 34px;
}
.form_text{

    width: 380px;
    border-radius: 10px;
    margin-left: 20px;
    outline: none;
    font-size: 20px;
}

.head_forma1{
    margin-top: 16px;


}
.fa{
    color: white;

}
.fa-circle{
    color: #14ff16;
    margin-left: 30px;


}
.head_forma1 .fa-circle{
    font-size: 10px;


}

.content{
    width: 1300px;
    display: flex;
    border: 1px solid #000000;
    margin: auto;
    height: 100vh;
    display: flex;
    background:#DDE1ED;
}
.content_left{
    width: 70%;
    border-right: 1px solid #000;
    display: flex;
    flex-direction: column;
}
.content_left_first{

    height: 75px;width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    background: white;
    position: relative;
}
.fa-bars{
    position: absolute;
    color: black;
    margin-left: 203px;
    margin-top: 29px;
    display: block;
}
.fa-picture-o{
    position: absolute;
    color: black;
    margin-left: 383px;
    margin-top: 29px;
    display: block;
}
.fa-music{
    position: absolute;
    color: black;
    margin-left: 563px;
    margin-top: 29px;
    display: block;
}
.fa-link{
    position: absolute;
    color: black;
    margin-left: 751px;
    margin-top: 30px;
    display: block;
}
.content_left_first_left{
    width: 20%;height: 100%;
    background:#DDE1ED;
}
.content_left_first_left:before{
    content: "\f067";
    font-family: FontAwesome;
    margin-left: 70px;
    padding-top: 16px;
    display: block;font-size: 37px;
    color: rgba(14, 29, 77, 0.19);
    text-shadow:rgba(14, 29, 77, 0.19)  0px 3px 3px;
}
.content_left_first_right{
    height: 100%;
    width: 80%;
    box-shadow: 0px 0px 2px 3px rgba(14, 29, 77, 0.19);
}
.content_left_first_right:before{
    content: '';
    width: 0px;
    height: 0px;
    border: 13px solid transparent;
    border-right-color: white;
    position: absolute;
    left: 156px;
    top: 25px;
}

.f{

    height: 100%;
    display: flex;

}

.status,.photo,.sound,.link{width: 25%;

    background-color: white;
    border: none;
    height: 75%;
    margin-top: 9px;
}
.status:hover,.photo:hover,.sound:hover,.link:hover{
    background: #DDE1ED;
}
.status,.photo,.sound{
    border-right: 2px solid rgba(110,135,111,0.22);
}
.content_right{
    width: 30%;
}